.font12px{
    font-size: 12px;
}
.font15px{
    font-size: 15px;
}
 .whiteNowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 1px);
}
.colorBlue{
    color: #3171e0 !important;
}